.header{
    background-color: green;
    padding: 20px;
    position: fixed;
    width: 100%;
}
.navbar li {
    display: inline-block;
    padding: 26px 0px;
}
.navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
}
h2{
    color: blue;
    font-size: 14px;
    text-align: center;
}

