.header{
    background-color: #ECECEC;
    width: 100%;
    margin-top: 15px;
}
.score, .brand{
    display: inline-block;
}
.navbar a {
    display: inline-block;
    text-decoration: none;
    color: #314455;
}
h1{
    color: #314455;
    font-size: 50px;
    text-align: center;
}
h2{
    color: #314455;
    font-size: 24px;
    text-align: center;
}
